<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hello [% session.user %]!</title>
  <link rel=stylesheet type=text/css href="[% css_url %]">
</head>
<body class="plasmid">

<script type="text/javascript"><!-- hide from old browsers
    
function Refresh(name){
    var PlasmidName = document.getElementById("Plasmid_Name");
    var Othernames = document.getElementById("Other_names");
    var Temperature = document.getElementById("Temperature");
    var CopyNumber = document.getElementById("Copy_number");
    var Size = document.getElementById("Size");
    var BlueWhite = document.getElementById("Blue_white");
    var Keeper = document.getElementById("Keeper");
    var Location = document.getElementById("Location");
    var ArrivalTime = document.getElementById("Arrival_time");
    var Resistance = document.getElementById("Resistance");
    var Genotype = document.getElementById("Genotype");
    var Reference = document.getElementById("Reference");
    var Construction = document.getElementById("Construction");
    var Constructor = document.getElementById("Constructor");
    var Comments = document.getElementById("Comments");
    var Sequence = document.getElementById("Sequence");
    var Obsolete = document.getElementById("Obsolete");
    
    location.href="/plasmid/add?ParentName=" + name +
    ";PlasmidName=" + PlasmidName.value +
    ";Othernames=" + Othernames.value +
    ";Temperature=" + Temperature.value +
    ";CopyNumber=" + CopyNumber.value +
    ";Size=" + Size.value +
    ";BlueWhite=" + BlueWhite.value +
    ";Keeper=" + Keeper.value +
    ";Location=" + Location.value +
    ";ArrivalTime=" + ArrivalTime.value +
    ";Resistance=" + Resistance.value +
    ";Genotype=" + Genotype.value +
    ";Reference=" + Reference.value +
    ";Construction=" + Construction.value +
    ";Constructor=" + Constructor.value +
    ";Comments=" + Comments.value +
    ";Sequence=" + Sequence.value +
    ";Obsolete=" + Obsolete.value;
}
//-->

function validate (form) {
    var alertstr = '';
    var invalid  = 0;
    var invalid_fields = new Array();
    

    // Plasmid_Name: standard text, hidden, password, or textarea box
    var Plasmid_Name = form.elements['Plasmid_Name'].value;
    var Parent_name = form.elements['Parent'].value;
    
    if (Plasmid_Name == null || ! Plasmid_Name.match(/^p\w+/)) {
        alertstr += '- Invalid entry for the "Plasmid Name" field. It has to start with a <em>p</em>\n';
        invalid++;
        invalid_fields.push('Plasmid_Name');
    }
    
    if (Plasmid_Name != null && Plasmid_Name == Parent_name) {
        alertstr += '- Plasmid Name cannot have the same name as its parent!\n';
        invalid++;
        invalid_fields.push('Plasmid_Name');
    }
    
    if (invalid > 0 || alertstr != '') {
        if (! invalid) invalid = 'The following';   // catch for programmer error
        alert(''+invalid+' error(s) were encountered with your submission:'+'\n\n'
              +alertstr+'\n'+'Please correct these fields and try again.');
              return false;
    }
    return true;  // all checked ok
}
//-->
</script>
<noscript><font color="#cc0000"><b>Please enable Javascript or use a newer browser.</b></font></noscript>
<p>Fields that are <b>highlighted</b> are required.</p>
<h2>CFS_P[% ID %]:</h2>
<!-- Generated by CGI::FormBuilder v3.09 available from www.formbuilder.org -->
<form action="add" id="add_plasmid" method="post" enctype="multipart/form-data" onsubmit="return validate(this);">
    <div><input id="_submitted" name="_submitted" type="hidden" value="1" /></div>
    <input name="ID" type="hidden" value=[% ID %] />
    <table>
        <tr valign="top">
            <td><b>Plasmid Name</b></td>
            <td><input id="Plasmid_Name" name="Plasmid_Name" type="text" value="[% filled.PlasmidName %]"/></td>
            <td><b>Other names</b></td>
            <td><input id="Other_names" name="Other_names" type="text" value="[% filled.Othernames %]"/></td>
        </tr>
        <tr valign="top">
            <td>Parent</td>
            <td><input id="Parent" name="Parent" [B] type="text" value="[% parent %]"onChange="Refresh(this.value)"[/B]/></td>
        </tr>

        <tr valign="top">
            <td>Temperature</td>
            <td><input id="Temperature" name="Temperature" type="text" value="[% filled.Temperature or entries.Temperature %]" /></td>
            <td>Copy Number</td>
            <td><input id="Copy_number" name="Copy_number" type="text" value="[% filled.CopyNumber or entries.Copy_number %]"/></td>
        </tr>
        <tr valign="top">
            <td>Size</td>
            <td><input id="Size" name="Size" type="text" value="[% filled.Size or entries.Size %]"/></td>
            <td>Blue White</td>
            [% IF bw == "yes" %]
            
            <td><input id="Blue_white" name="Blue_white" type="radio" value="no">no
                <input id="Blue_white" name="Blue_white" type="radio" value="yes" checked="checked">yes
            </td>
            [% ELSE %]
            <td><input id="Blue_white" name="Blue_white" type="radio" value="no" checked="checked">no
                <input id="Blue_white" name="Blue_white" type="radio" value="yes">yes
            </td>
            [% END %]
        </tr>
        <tr>
            <td><br></td>
        </tr>
        <tr valign="top">
            <td>Keeper</td>
            <td><input id="Keeper" name="Keeper" type="text" value="[% filled.Keeper or session.user %]" /></td>
            <td>Location</td>
            <td><input id="Location" name="Location" type="text" value="[% filled.Location %]"/></td>
            <td>Arrival Time</td>
            <td><input id="Arrival_time" name="Arrival_time" type="date" value="[% filled.ArrivalTime %]"/></td>
        </tr>
        <tr>
            <td><br></td>
        </tr>
        <tr valign="top">
            <td>Constructor</td>
            <td><input id="Constructor" name="Constructor" type="text" value="[% filled.Constructor %]" /></td>
            <td>Resistance</td>
            <td><input id="Resistance" name="Resistance" type="text" value="[% resistance %]" /></td>
        </tr>
        <tr valign="top">
            <td>Genotype </td>
            
            <td><textarea id="Genotype" name="Genotype" form="add_plasmid">[% filled.Genotype or entries.Genotype %]</textarea></td>
        </tr>
        
        <tr valign="top">
            <td>Reference</td>
            <td><textarea id="Reference" name="Reference" form="add_plasmid">[% filled.Reference or entries.Reference %]</textarea></td>
        </tr>
        
        <tr valign="top">
            <td>Construction</td>
            <td><textarea id="Construction" name="Construction" form="add_plasmid">[% filled.Construction %]</textarea></td>
        </tr>

        <tr valign="top">
            <td>Comments</td>
            <td><textarea id="Comments" name="Comments" form="add_plasmid">[% filled.Comments %]</textarea></td>
        </tr>
        
        <tr valign="top">
            <td>Plasmid map</td>
            <td><input type="file" name="Map"></td>
        
        <tr valign="top">
            <td>Sequence</td>
            <td><textarea id="Sequence" name="Sequence" form="add_plasmid">[% Sequence %]</textarea></td>
        </tr>
        
        <tr valign="top">
            <td>Obsolete</td>
            <td><input id="Obsolete" name="Obsolete" type="radio" value="0" checked="checked">no
            <input id="Obsolete" name="Obsolete" type="radio" value="1">yes
            </td>
        </tr>
        

        <tr valign="top">
            <td align="center" colspan="2"><input id="_submit" name="_submit" type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>


</body>
</html>