<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hello [% session.user %]!</title>
  <link rel=stylesheet type=text/css href="[% css_url %]">
</head>
<body class="strain">

<script type="text/javascript"><!-- hide from old browsers
    
function Refresh(name){
    var StrainName = document.getElementById("Strain_Name");
    var Othernames = document.getElementById("Other_names");
    var AccessionNO = document.getElementById("Accession_NO");
    var Isolated = document.getElementById("Isolated_from");
    var Geo = document.getElementById("Geographic_location");
    var Temperature = document.getElementById("Temperature");
    var Species = document.getElementById("Species");
    var Plasmids = document.getElementById("Plasmids");
    var Keeper = document.getElementById("Keeper");
    var Location = document.getElementById("Location");
    var ArrivalTime = document.getElementById("Arrival_time");
    var Resistance = document.getElementById("Resistance");
    var Genotype = document.getElementById("Genotype");
    var Reference = document.getElementById("Reference");
    var Construction = document.getElementById("Construction");
    var Constructor = document.getElementById("Constructor");
    var Comments = document.getElementById("Comments");
    var Obsolete = document.getElementById("Obsolete");
    
    location.href="/strain/add?ParentName=" + name +
    ";StrainName=" + StrainName.value +
    ";Othernames=" + Othernames.value +
    ";AccessionNO=" + AccessionNO.value +
    ";Isolated=" + Isolated.value +
    ";Geo=" + Geo.value +
    ";Temperature=" + Temperature.value +
    ";Plasmids=" + Plasmids.value +
    ";Keeper=" + Keeper.value +
    ";Location=" + Location.value +
    ";ArrivalTime=" + ArrivalTime.value +
    ";Resistance=" + Resistance.value +
    ";Genotype=" + Genotype.value +
    ";Reference=" + Reference.value +
    ";Construction=" + Construction.value +
    ";Constructor=" + Constructor.value +
    ";Comments=" + Comments.value +
    ";Obsolete=" + Obsolete.value;
}
//-->

function validate (form) {
    var alertstr = '';
    var invalid  = 0;
    var invalid_fields = new Array();
    

    // Strain_Name: standard text, hidden, password, or textarea box
    var Strain_Name = form.elements['Strain_Name'].value;
    var Parent_name = form.elements['Parent'].value;
    
    if (Strain_Name == null) {
        alertstr += '- Invalid entry for the "Strain Name" field\n';
        invalid++;
        invalid_fields.push('Strain_Name');
    }
    
    if (Strain_Name != null && Strain_Name == Parent_name) {
        alertstr += '- Strain Name cannot have the same name as its parent!\n';
        invalid++;
        invalid_fields.push('Strain_Name');
    }
    
    if (invalid > 0 || alertstr != '') {
        if (! invalid) invalid = 'The following';   // catch for programmer error
        alert(''+invalid+' error(s) were encountered with your submission:'+'\n\n'
              +alertstr+'\n'+'Please correct these fields and try again.');
              return false;
    }
    return true;  // all checked ok
}
//-->
</script>
<noscript><font color="#cc0000"><b>Please enable Javascript or use a newer browser.</b></font></noscript>
<p>Fields that are <b>highlighted</b> are required.</p>
<h2>CFS_S[% ID %]:</h2>
<!-- Generated by CGI::FormBuilder v3.09 available from www.formbuilder.org -->
<form action="add" id="add_strain" method="post" onsubmit="return validate(this);">
    <div><input id="_submitted" name="_submitted" type="hidden" value="1" /></div>
    <input name="ID" type="hidden" value=[% ID %] />
    <table>
        <tr>
            <td><b>Strain Name</b></td>
            <td><input id="Strain_Name" name="Strain_Name" type="text" value="[% filled.StrainName %]"/></td>
            <td>Other names</td>
            <td><input id="Other_names" name="Other_names" type="text" value="[% filled.Othernames %]"/></td>
        </tr>
        <tr>
            <td>Isolated from</td>
            <td><input id="Isolated_from" name="Isolated_from" type="text" value="[% filled.Isolated %]"/></td>
            <td>Geo location</td>
            <td><input id="Geographic_location" name="Geographic_location" type="text" value="[% filled.Geo %]"/></td>
        </tr>
        <tr>
            <td><br></td>
        </tr>
        <tr>
            <td>Parent</td>
            <td><input id="Parent" name="Parent" type="text" value="[% parent %]"onChange="Refresh(this.value)"/></td>
            <td>Accession NO</td>
            <td><input id="Accession_NO" name="Accession_NO" type="text" value="[% filled.AccessionNO %]"/></td>
        </tr>

        <tr>
            <td>Species</td>
            <td><input id="Species" name="Species" type="text" value="[% entries.Species or filled.Species %]" /></td>
            <td>Temperature</td>
            <td><input id="Temperature" name="Temperature" type="text" value="[% filled.Temperature or entries.Temperature %]" /></td>
        </tr>
        <tr>
            <td><br></td>
        </tr>
        <tr>
            <td>Keeper</td>
            <td><input id="Keeper" name="Keeper" type="text" value="[% filled.Keeper or session.user %]" /></td>
            <td>Constructor</td>
            <td><input id="Constructor" name="Constructor" type="text" value="[% filled.Constructor %]" /></td>
        </tr>
        <tr>
            <td>Location</td>
            <td><input id="Location" name="Location" type="text" value="[% filled.Location %]"/></td>
            <td>Arrival Time</td>
            <td><input id="Arrival_time" name="Arrival_time" type="date" value="[% filled.ArrivalTime %]"/></td>
        </tr>
        <tr>
            <td><br></td>
        </tr>
        <tr>
            <td>Plasmids</td>
            <td><input id="Plasmids" name="Plasmids" type="text" value="[% filled.Plasmids or entries.Plasmids %]"</td>
        </tr>
        
        <tr>
            <td>Resistance</td>
            <td><input id="Resistance" name="Resistance" type="text" value="[% resistance %]" /></td>
        </tr>
        <tr>
            <td><br></td>
        </tr>
        <tr>
            <td>Genotype </td>
            
            <td><textarea id="Genotype" name="Genotype" form="add_strain">[% filled.Genotype or entries.Genotype %]</textarea></td>
        </tr>
        
        <tr>
            <td>Reference</td>
            <td><textarea id="Reference" name="Reference" form="add_strain">[% filled.Reference or entries.Reference %]</textarea></td>
        </tr>
        
        <tr>
            <td>Construction</td>
            <td><textarea id="Construction" name="Construction" form="add_strain">[% filled.Construction %]</textarea></td>
        </tr>

        <tr>
            <td>Comments</td>
            <td><textarea id="Comments" name="Comments" form="add_strain">[% filled.Comments %]</textarea></td>
        </tr>
        
        <tr>
            <td>Obsolete</td>
            <td><input id="Obsolete" name="Obsolete" type="radio" value="0" checked="checked">no
            <input id="Obsolete" name="Obsolete" type="radio" value="1">yes
            </td>
        </tr>
        

        <tr>
            <td align="center" colspan="2"><input id="_submit" name="_submit" type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>


</body>
</html>