<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hello [% session.user %]!</title>
  <link rel=stylesheet type=text/css href="[% css_url %]">
</head>
<body>

[% content %]

</body>
</html>