<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hello [% session.user %]!</title>
  <link rel=stylesheet type=text/css href="[% css_url %]">
</head>
<body class="plasmid">

<script type="text/javascript"><!-- hide from old browsers
function validate (form) {
    var alertstr = '';
    var invalid  = 0;
    var invalid_fields = new Array();

    // ID: standard text, hidden, password, or textarea box

    // Plasmid_Name: standard text, hidden, password, or textarea box
    var Plasmid_Name = form.elements['Plasmid_Name'].value;
    if (Plasmid_Name == null || ! Plasmid_Name.match(/^p/)) {
        alertstr += '- Invalid entry for the "Plasmid Name" field\n';
        invalid++;
        invalid_fields.push('Plasmid_Name');
    }
    if (invalid > 0 || alertstr != '') {
        if (! invalid) invalid = 'The following';   // catch for programmer error
        alert(''+invalid+' error(s) were encountered with your submission:'+'\n\n'
                +alertstr+'\n'+'Please correct these fields and try again.');
        return false;
    }
    return true;  // all checked ok
}
//-->

	<!--
	function clickMeEvent(obj)
	{
        if (obj.innerHTML.match(/Sabotage/))
		{
            obj.innerHTML='<a style="background-color:green;cursor: pointer;">Revive<a>-><del>Plasmid Name: [% entries.Name %]</del><input id="Obsolete" name="Obsolete" type="hidden" value="1" />';
		}
        else if (obj.innerHTML.match(/Revive/))
		{
            obj.innerHTML='<a style="background-color:#D94A38;cursor: pointer;">Sabotage<a>-><b>Plasmid Name: [% entries.PName %]</b><input id="Obsolete" name="Obsolete" type="hidden" value="0" />';
		}
        else
		{
            obj.innerHTML="Errrr, What just happened?";
		}
	}
//-->
</script>
<noscript><font color="#cc0000"><b>Please enable Javascript or use a newer browser.</b></font></noscript>
<h1>ID:CFS_P[% entries.ID %]</h1>

<p>Fields that are <b>highlighted</b> are required.</p>

<!-- Generated by CGI::FormBuilder v3.09 available from www.formbuilder.org -->
<form action="edited" id="plasmid_edit" method="post" enctype="multipart/form-data" onsubmit="return validate(this);">
<div><input id="_submitted" name="_submitted" type="hidden" value="1" /></div>
<table>


<tr valign="top">
  <td>
      <div onclick="clickMeEvent(this)">
          [% IF entries.Obsolete == 1 %]
          <a style="background-color:green;cursor: pointer;">Revive<a>-><del>Plasmid Name: [% entries.Plasmid_Name %]</del><input id="Obsolete" name="Obsolete" type="hidden" value="1" />
          [% ELSE %]
          <a style="background-color:#D94A38;cursor: pointer;">Sabotage<a>-><b>Plasmid Name: [% entries.Plasmid_Name %]</b><input id="Obsolete" name="Obsolete" type="hidden" value="0" />
          [% END %]
    </div>
        
    
</td>

</tr>

<tr valign="top">
    <td>Temperature</td>
    <td><input id="Temperature" name="Temperature" type="text" value="[% entries.Temperature %]" /></td>
    <td>Copy Number</td>
    <td><input id="Copy_number" name="Copy_number" type="text" value="[% entries.Copy_number %]" /></td>
</tr>
<tr valign="top">
    <td>Size</td>
    <td><input id="Size" name="Size" type="text" value="[% entries.Size %]" /></td>
    <td>Blue White</td>
    [% IF entries.Blue_white == "yes" %]
    
    <td><input id="Blue_white" name="Blue_white" type="radio" value="no">no
        <input id="Blue_white" name="Blue_white" type="radio" value="yes" checked="checked">yes
            </td>
    [% ELSE %]
    <td><input id="Blue_white" name="Blue_white" type="radio" value="no" checked="checked">no
        <input id="Blue_white" name="Blue_white" type="radio" value="yes">yes
            </td>
    [% END %]
</tr>
<tr>
    <td><br></td>
</tr>

<tr valign="top">
    <td>Constructor</td>
    <td><input id="Constructor" name="Constructor" type="text" value="[% entries.Constructor %]" /></td>
    <td>Keeper</td>
    <td><input id="Keeper" name="Keeper" type="text" value="[% entries.Keeper %]" /></td>
    <td>Location</td>
    <td><input id="Location" name="Location" type="text" value="[% entries.Location %]" /></td>
    <td>Arrival Time</td>
    <td><input id="Arrival_time" name="Arrival_time" type="date" value="[% entries.Arrival_time %]"/></td>
</tr>
<tr>
    <td><br></td>
</tr>
<tr valign="top">
    <td>Parent</td>
    <td><input id="Parent" name="Parent" type="text" value="[% entries.Parent %]" /></td>
</tr>


<tr>
    <td><br></td>
</tr>


<tr valign="top">
  <td>Genotype </td>

  <td><textarea id="Genotype" name="Genotype" form="plasmid_edit">[% entries.Genotype %]</textarea></td>
</tr>
<tr valign="top">
    <td>Resistance</td>
    <td><textarea id="Resistance" name="Resistance" form="plasmid_edit">[% entries.Resistance %]</textarea></td>
</tr>

<tr>
    <td><br></td>
</tr>

<tr valign="top">
  <td>Reference</td>
  <td><textarea id="Reference" name="Reference" form="plasmid_edit">[% entries.Reference %]</textarea></td>
</tr>
<tr valign="top">
    <td>Construction</td>
    <td><textarea id="Construction" name="Construction" form="plasmid_edit">[% entries.Construction %]</textarea></td>
</tr>
<tr valign="top">
    <td>Comments</td>
    <td><textarea id="Comments" name="Comments" form="plasmid_edit">[% entries.Comments %]</textarea></td>
</tr>
<tr valign="top">
    <td>Plasmid map</td>
    <td><input type="file" name="map"></td>
</tr>
<tr valign="top">
  <td>Sequence</td>
  <td><textarea id="Sequence" name="Sequence" form="plasmid_edit">[% entries.Sequence %]</textarea></td>
</tr>


<tr valign="top">
  <td align="center" colspan="2"><input id="_submit" name="_submit" type="submit" value="Submit" /></td>
</tr>
</table>
</form>


</body>
</html>