<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hello [% session.user %]!</title>
  <link rel=stylesheet type=text/css href="[% css_url %]">
</head>

<body class="plasmid">
  <p>
    <a id="tree" href="[% home %]"><font color="#04B4AE">Home</font></a>&nbsp;&nbsp;&nbsp;
    <a id="tree" href="[% plasmid %]"><font color="#04B4AE">All plasmids</font></a>
    <a id="tree" href="[% my_plasmids %]"><font color="#04B4AE">myPlasmids</font></a>
    <a id="tree" href="[% plasmid_search %]"><font color="#04B4AE">Search</font></a>
    [% IF session.logged_in %]
      <a id="tree" href="[% plasmid_add %]"><font color="#04B4AE">Add</font></a>
      <a id="tree" href="[% p_mass_add %]"><font color="#04B4AE">Add in batch</font></a>
          &nbsp;&nbsp;&nbsp;
      <a id="tree" href="[% logout_url %]"><font color="#8A4B08">log out</font></a>
    [% ELSE %]
      <a id="tree" href="[% login_url %]"><font color="#8A4B08">login</font></a>
    [% END %]
    
    [% IF allowed %]
      <form action=[% entries.ID %]/edit method=post class=add-entry>
        <input type=submit value=Edit entry>
      </form>
    [% END %]
  </p>
  <h1 class=plasmid>
    [% IF entries.Obsolete %]
      <del>
    [% END %]
    CFS_P[% entries.ID %]:[% entries.Name %] &nbsp;&nbsp;&nbsp;
    [% IF entries.Obsolete %]
      </del>
    [% END %]
    <font class=small> [% entries.Temperature %]&deg;C &nbsp;&nbsp;&nbsp;
     [% entries.Size %]bp &nbsp;&nbsp;&nbsp; [% entries.Copy_number %]-copy-number &nbsp;&nbsp;&nbsp;
     <em>
      [% IF entries.Resistance.size %]
        [% FOREACH res IN resistance %]
          [% res %]&nbsp;&nbsp;
        [% END %]
      [% ELSE %]
        &nbsp;
      [% END %]
     </em>
     [% IF entries.Blue_white == "yes" %]
        &nbsp;&nbsp; Blue white
     [% END %]
     <a id="tree" href="[% tree %]">Tree of life</a>
    </font>
  </h1>
  <div id=left_column>
      <p>
      <table>
          <tr valign="top">
              <td height="25"><strong>Other names:</strong></td>
              <td>[% IF entries.Other_names %]
                    [% entries.Other_names %]
                  [% ELSE %]                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  [% END %]
              </td>
              <td><strong>Accession number: </strong> </td>
              <td><a href="[% acc_url %]">[% entries.Accession_NO %]</a></td>
          </tr>
          <tr valign="top">
              <td height="25"><strong>Keeper:</strong></td>
              <td>[% entries.Keeper %]</td>
              <td><strong>Constructor:</strong></td>
              <td>[% entries.Constructor %]</td>
          </tr>
          </table>
          <table>
          <tr valign="top">
              <td height="35"><strong> Storing location: </strong></td>
              <td>[% entries.Location %]</td>
          </tr>
          <tr valign="top">
              <td height="25"><strong> Carriers: </strong></td>
              <td>
                  [% IF carriers.size %]
                  [% FOREACH key IN carriers.keys %]
                  <a href="[% carriers.$key %]">[% key %]</a>&nbsp;&nbsp;&nbsp;
                  [% END %]
                  [% ELSE %]
                  &nbsp;
                  [% END %]
              </td>
          </tr>
          <tr valign="top">
              <td height="25"><strong> Parent Plasmid: </strong></td>
              <td>
                  [% IF entries.Parent %]
                  <a href="[% entries.phref %]">[% entries.Parent %]</a>
                  [% ELSE %]
                  <font color="grey"> ROOT </font>
                  [% END %]
              </td>
          </tr>
          <tr valign="top">
              <td height="35"><strong> Daughter Plasmids: </strong></td>
              <td>
                  [% IF daughters.size %]
                  [% FOREACH key IN daughters.keys.sort %]
                  <a href="[% daughters.$key %]">[% key %]</a>
                  [% END %]
                  [% ELSE %]
                  &nbsp;
                  [% END %]
              </td>
          </tr>
          <tr valign="top">
              <td><strong> Genotype: </strong></td>
          </tr>
          <tr valign="top"><td>
              [% IF genotype.size %]
              <ul id=genotype>
                  [% FOREACH gen IN genotype %]
                  <li> <i> [% gen %] </i>
                      [% END %]
                      </ul>
              [% ELSE %]
              &nbsp;
              [% END %]
          </td></tr>
          <tr valign="top">
              <td><strong> Arrival time: </strong></td>
              <td>[% entries.Arrival_time %]</td>
          </tr>
      </table>
      </p>
  </div>
  <div id=right_column>
    <p class="reference"><strong> Reference: </strong><br>
      [% entries.Reference %]
    </p>
    <p class="construction"><strong> Construction: </strong><br>
      [% entries.Construction %]
    </p>
    <p class="comment"><strong> Comment: </strong><br>
      [% entries.Comments %]
    </p>
    <p>
      [% IF entries.Map %]
        <a href="[% map %]"><strong>Plasmid map</strong></a>
      [% END %]
      [% IF entries.Sequence %]
        <a href="[% sequence %]"><strong>Sequence</strong></a>
      [% END %]
    </p>
  </div>
  <div id="footer">
   <p>Recorder: [% entries.Recorder %]<br>
      Recorded at: [% entries.Recording_time %] &nbsp; &nbsp;
      Last modified at: [% entries.Modified_time %]
   </p>
  </div>
</body>
</html>