<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hello [% session.user %]!</title>
  <link rel=stylesheet type=text/css href="[% css_url %]">
  <style type="text/css">
      table {
          border: thin solid black;
      }
      td, th {
          border: thin dotted gray;
          padding: 5px;
      }
  </style>
  <script src="/javascripts/dragtable.js"></script>
  <script type="text/javascript">
      var tableToExcel = (function() {
                          var uri = 'data:application/vnd.ms-excel;base64,'
                          , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>'
                          , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
                          , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
                          return function(table, name) {
                          if (!table.nodeType) table = document.getElementById(table)
                          var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
                          window.location.href = uri + base64(format(template, ctx))
                          }
                          })()
      </script>

</head>
<body class="strain">
<p>
    <a id="tree" href="[% home %]"><font color="#0B3B0B">Home</font></a>&nbsp;&nbsp;&nbsp;
    [% IF mine %]
        <a id="tree" href="[% strain %]"><font color="#3B170B">All strains</font></a>
    [% ELSE %]
        <a id="tree" href="[% my_strains %]"><font color="#3B170B">myStrains</font></a>
    [% END %]&nbsp;&nbsp;
    <a id="tree" href="[% strain_search %]"><font color="#3B170B">Search</font></a>&nbsp;&nbsp;
    <a id="tree" href="[% strain_add %]"><font color="#3B170B">Add</font></a>&nbsp;&nbsp;&nbsp;
    [% IF session.logged_in %]
        <a id="tree" href="[% s_custom %]"><font color="#3B170B">Customise your list</font></a>&nbsp;&nbsp;
        <a id="tree" href="[% logout_url %]"><font color="#8A4B08">log out</font></a>
    [% ELSE %]
        <a id="tree" href="[% login_url %]"><font color="#8A4B08">login</font></a>
    [% END %]
    
</p>
<input type="button" onclick="tableToExcel('strain', 'W3C Example Table')" value="Export to Excel">
<table id="strain" class="draggable">
    <caption> <h2><b>The strain list</b></h2></caption>
    <br>
    <tr>
        <th>CFS_S NO.</th>
        <th>Strain Name</th>
        [% FOREACH key IN display %]
          <th>[% key %]</th>
        [% END %]
    </tr>
    [% FOREACH row IN entries %]
        <tr>
            <td><a href="[% row.href %]">CFS_S[% row.ID %]</a></td>
            <td>[% row.Name %]</td>
            [% FOREACH key IN display %]
              [% IF key == 'Species' %]
                <td><i>[% row.Species %]</i></td>
              [% ELSIF key == 'Plasmids' %]
           
                <td>[% IF row.p.size %]
                     [% FOREACH key IN row.p.keys.sort %]
                        <a href="[% row.p.$key %]">[% key %]</a>&nbsp;&nbsp;
                    [% END %]
                [% END %]</td>
            
              [% ELSIF key == 'Parent' %]
                <td><a href="[% row.phref %]">[% row.Parent %]</a></td>
              [% ELSIF key == 'Accession_NO' %]
                <td><a href="[% row.ahref %]">[% row.Accession_NO %]</a></td>
              [% ELSIF key == 'Daughters' %]
                <td>[% FOREACH dau IN row.D.keys.sort %]
                    <a href="[% row.D.$dau %]">[% dau %]</a>
                [% END %]</td>
              [% ELSE %]
                <td>[% row.$key %]</td>
              [% END %]
            [% END %]

            
        </tr>
    [% END %]
</table>


        


</body>
</html>